[Unit]
Description=Recover and clean UTCOJ test uploads every 15 minutes

[Timer]
OnBootSec=5min
OnCalendar=*-*-* *:00/15:00
Persistent=true
Unit=utcoj-test-uploads.service

[Install]
WantedBy=timers.target
