[Unit]
Description=Recover and clean UTCOJ test uploads
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/utcoj/deploy
UMask=0027
ExecStart=/usr/bin/docker compose -f compose.yaml -f compose.override.yaml -f compose.uploads.yaml exec -T site python3 manage.py recover_test_data_uploads
ExecStart=/usr/bin/docker compose -f compose.yaml -f compose.override.yaml -f compose.uploads.yaml exec -T site python3 manage.py cleanup_test_data_uploads
TimeoutStartSec=30min
